.stream-inactive-container
    margin 0 auto
    display none
    width fit-content
    text-align center
    margin-top 80px
    &.active
        display block
    h1.container-title
        color #333
        font-size 22px
        margin 0
        letter-spacing .3px
        b
            &.inactive
                color #db0000
                text-decoration underline
            &.active
                color green
    p.info
        color #7c8994
        font-size 15px
        margin 10px auto 0
        letter-spacing .3px
        a
            color #f05027
            text-decoration none
            &:hover
                text-decoration underline !important
        