.users-page-content
    width 1280px
    margin 0 auto
    position relative
    .search-container
        width calc(100% - 20px)
        margin 20px auto
        .input-wrap
            position relative
            width 100%
            .search-icon
                position absolute
                top 50%
                transform translateY(-50%)
                left 12px
                background-image url("/img/black-search-icon.svg")
                background-repeat no-repeat
                background-size cover
                background-position center
                width 20px
                height 20px
                opacity .15
            .search-input
                font-size 17px
                border none
                outline none
                color #333
                background transparent
                font-weight 500
                letter-spacing .5px
                border-bottom 1px solid #e7e8ea
                padding 7px 7px 7px 45px
                width 100%
                &::placeholder
                    color #cdc8c8
                    font-weight 400
        .filters-container
            display flex
            justify-content left
            align-items center
            width 100%
            margin 20px auto 0
            .filter
                p.label
                    color #cdc8c8
                    font-size 14px
                    margin 0 0 5px 5px
                    letter-spacing .3px
                .select
                    display flex
                    justify-content left
                    align-items center
                    &.grade-select
                        margin-right 50px
                    .option
                        width 70px
                        position relative
                        height 30px
                        border 1px solid #e7e8ea
                        cursor pointer
                        transition background .3s, border-color .3s
                        &.banned-option
                            width 125px !important
                        &:hover
                            background #e6e6e6
                            border-color #e6e6e6
                        &.active
                            background #f05027
                            border-color #f05027
                            p
                                color white
                        p
                            color #333
                            font-size 13px
                            font-weight 600
                            letter-spacing .3px
                            position absolute
                            width fit-content
                            top 50%
                            left 50%
                            transform translate(-50%, -50%)
                            transition color .3s
                    .option:first-child
                        border-top-left-radius 30px
                        border-bottom-left-radius 30px
                    .option:last-child
                        border-top-right-radius 30px
                        border-bottom-right-radius 30px

    .users-container
        display flex
        flex-flow wrap row
        justify-content left
        margin 30px auto 40px
        .no-users
            color #b5b5b5
            font-size 17px
            font-weight 500
            letter-spacing .3px
            margin 40px auto 0
            text-align center
            display none
        .user
            width 300px
            height 395px
            margin 10px
            background white
            border-radius .3em
            box-shadow 0 0 0 1px rgba(0,0,0,0.02), 0 0 10px 0 rgba(0,0,0,0.04)
            &.hidden
                display none
            .user-picture
                width 75px
                height 75px
                border-radius 75px
                background-color black
                background-size cover
                background-position center
                background-repeat no-repeat
                margin 20px auto 0
            .user-name
                color #333
                font-weight 500
                font-size 22px
                letter-spacing .3px
                margin 20px 0 0
                text-align center
            .user-email
                color #9D9D9D
                font-weight 400
                font-size 13px
                letter-spacing .3px
                margin 2px 0 0
                text-align center
            .basic-info-container
                margin 20px auto 0
                display flex
                justify-content center
                align-items center
                .info
                    width 150px
                    text-align center
                    height fit-content
                    .label
                        color #B5B5B5
                        font-size 12px
                        margin 0
                        letter-spacing .3px
                    .value
                        margin 2px 0 0
                        color #333
                        font-size 16px
                        letter-spacing .3px
            .ban-btn, .auth-btn, .mute-btn
                background #f05027
                outline none
                border none
                color white
                padding 7px
                width 200px
                margin 20px auto 0
                display block
                font-size 15px
                cursor pointer
                letter-spacing .4px
                border-radius .3em
                transition background .3s
                &:hover
                    background #ff663e

@media only screen and (max-width: 1350px)
    .users-page-content
        width 960px !important
        .filters-container
            justify-content center !important

@media only screen and (max-width: 1040px)
    .users-page-content
        width 640px !important
        .filters-container
            flex-direction column !important
            .filter
                margin-bottom 25px !important
                &:first-child
                    margin-bottom 30px !important
                .grade-select
                    margin-right 0 !important
                .label
                    text-align center !important

@media only screen and (max-width: 730px)
    .users-page-content
        width 450px !important
        .users-container
            justify-content center !important
            .user
                margin 10px 0 !important