.table-flex-container
		display flex
		justify-content space-between
		flex-flow column wrap
		margin 75px auto 0

.viewers-table
	width 100%
	.search-container
		display flex
		justify-content space-between
		width 100%
		max-width 1200px
		min-width 500px
		margin 20px auto
		align-items flex-end
		.input-wrap
			position relative
			width calc(100% - 460px)
			.search-icon
				position absolute
				top 50%
				transform translateY(-50%)
				left 12px
				background-image url("/img/black-search-icon.svg")
				background-repeat no-repeat
				background-size cover
				background-position center
				width 20px
				height 20px
				opacity .15
			.search-input
				font-size 17px
				border none
				outline none
				color #333
				font-weight 500
				letter-spacing .5px
				border-bottom 1px solid #e7e8ea
				padding 7px 7px 7px 45px
				width 100%
				background transparent
				&::placeholder
					color #cdc8c8
					font-weight 400
		.grade-filter-container
			p.label
				color #cdc8c8
				font-size 14px
				margin 0 0 5px 5px
				letter-spacing .3px
			.grade-select
				display flex
				justify-content left
				align-items center
				.grade-option
					width 100px
					position relative
					height 30px
					border 1px solid #e7e8ea
					cursor pointer
					transition background .3s, border-color .3s
					&:hover
						background #e6e6e6
						border-color #e6e6e6
					&.active
						background #f05027
						border-color #f05027
						p
							color white
							b
								color #e6e6e6
					p
						color #333
						width fit-content
						font-size 13px
						font-weight 600
						letter-spacing .3px
						position absolute
						top 50%
						left 50%
						transform translate(-50%, -50%)
						transition color .3s
						b
							color grey
							font-size 14px
							font-weight 400
				.grade-option:first-child
					border-top-left-radius 30px
					border-bottom-left-radius 30px
				.grade-option:last-child
					border-top-right-radius 30px
					border-bottom-right-radius 30px
	.no-viewers
		color #b5b5b5
		font-size 17px
		font-weight 500
		letter-spacing .3px
		margin 30px 0
		text-align center
		display none
.table-container
	width 100%
	min-width 500px
	max-width 1200px
	margin 0 auto 80px
	.table-title
		font-size 25px
		color #333
		letter-spacing .5px
	table
		width 100%
		margin 15px auto !important
		border-collapse: collapse
		overflow-x auto
		min-width 500px
		max-width 1200px
		thead
			border-color rgb(237, 234, 234)
			box-sizing border-box
			tr
				width 100%
				padding 0
				box-sizing border-box
				border 0
				th
					text-align left
					padding 13px
					background #f1f0f0
					color #333
					font-size 14px
					font-weight 500

	tbody
		margin 0
		height 47px
		tr.viewer
			width 100%
			vertical-align middle
			background #f8f8f8
			&.search-hidden,
			&.grade-hidden
				display none
			td
				height 20px !important
				padding 30px 13px
				&.viewer-picture-container
					width 60px
					.viewer-picture-info
						background-size cover
						background-position center
						background-repeat no-repeat
						width 40px
						height 40px
						border-radius 100%
				p
					margin 0
					color #4e4e4e
					letter-spacing .3px
					font-weight 600
				.action-btn-wrap
					display flex
					justify-content left
					align-items center
					p
						color rgb(240, 80, 39)
						font-size 14px
						margin 0
						cursor pointer
						letter-spacing .3px
						&.kick-user
							margin-right 30px !important
						&:hover
							text-decoration underline

.viewer-logs-container
	max-width 1200px
	min-width 500px
	width 100%
	margin 40px auto
	.logs-title-container
		display flex
		align-items center
		justify-content left
		.title
			font-size 25px
			color #333
			letter-spacing .5px
			margin-right 20px
			b
				font-weight 400
				color grey
				font-size 20px
		.download-csv-btn
			color #f05027
			font-size 15px
			letter-spacing .3px
			margin 5px 0 0
			width fit-content
			cursor pointer
			text-deocration none
			&:hover
				text-decoration underline !important
	.search-container
		width 100%
		margin-top 30px
		.input-wrap
			width 100%
			position relative
			.search-icon
				position absolute
				top 50%
				transform translateY(-50%)
				left 12px
				background-image url("/img/black-search-icon.svg")
				background-repeat no-repeat
				background-size cover
				background-position center
				width 20px
				height 20px
				opacity .15
			.search-input
				font-size 17px
				border none
				outline none
				color #333
				font-weight 500
				letter-spacing .5px
				border-bottom 1px solid #e7e8ea
				padding 7px 7px 7px 45px
				width 100%
				background transparent
				&::placeholder
					color #cdc8c8
					font-weight 400
	.logs-container
		width 100%
		height 500px
		margin-top 20px
		padding 15px 0
		background #F8F8F8
		overflow-y auto
		p.no-logs
			color #b5b5b5
			font-size 17px
			font-weight 500
			letter-spacing .3px
			margin 30px 0
			text-align center
			display none
		.log
			width calc(90% - 40px)
			margin 15px auto
			padding 20px
			display flex
			justify-content space-between
			&.hidden
				display none
			&.join
				background rgba(#19c963, 0.1)
				p
					color #17b358
			&.leave
				background rgba(#e00b0b, 0.1)
				p
					color #e00b0b
					
			p
				font-size 15px
				margin 0
				font-weight 500
				letter-spacing .3px
				b
					font-size 12px
					margin-left 15px