.mod-wrapper {
  width: 80%;
  height: 80%;
  max-width: 1200px;
  max-height: 1200px;
  margin: 40px auto;
  border-radius: 5px;
}
.mod-wrapper input.mod-settings-btn {
  width: 130px;
  height: 32px;
  border: none;
  background: #f0542c;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-left: calc(100% - 130px);
}
.live-chat-wrapper {
  background: #fff;
  width: 100%;
  height: calc(100% - 52px);
  margin-top: 20px;
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
}
.mod-wrapper-right-top {
  width: 100%;
  height: 120px;
}
.mod-wrapper-right-top p {
  font-size: 30px;
  left: 8%;
  font-weight: 100;
  left: 5%;
}
.mod-wrapper-right-body {
  height: calc(100% - 240px);
  width: 100%;
}
.mod-wrapper-right-bottom {
  width: 100%;
  height: 120px;
}
.mod-wrapper-right-bottom-hr {
  width: 90%;
  height: 1px;
  background: #d4d4d4;
  position: relative;
}
.mod-wrapper-right-bottom-chatWrap {
  width: 100%;
  height: 119px;
}
.mod-wrapper-right-bottom-chatWrap-textarea {
  margin-left: 5%;
  width: 60%;
}
.mod-wrapper-right-bottom-chatWrap-textarea textarea {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 200;
  resize: none;
}
.mod-wrapper-right-bottom-chatWrap-buttons {
  display: -webkit-box;
  right: 5%;
  width: fit-content;
  height: fit-content;
}
.mod-wrapper-right-bottom-chatWrap-buttons-send {
  width: 45px;
  height: 45px;
  background: #f05027;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  background-image: url("/img/sendW.svg");
}
.enable-autoscroll {
  background: rgba(0,0,0,0.8);
  color: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  position: absolute;
  padding: 8px 20px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  letter-spacing: 0.3px;
  z-index: 100;
  border-radius: 0.3em;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.enable-autoscroll.active {
  opacity: 1;
  visibility: visible;
}
.mod-wrapper-right-body-wrapper {
  width: 90%;
  height: 96%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  background: #f7f7f7;
}
.mod-wrapper-right-body-wrapper .chat-wrap {
  width: calc(100% - 30px);
  height: fit-content;
  padding: 15px;
  margin: 15px 0;
  cursor: pointer;
  transition: background 0.3s;
}
.mod-wrapper-right-body-wrapper .chat-wrap:hover,
.mod-wrapper-right-body-wrapper .chat-wrap.active {
  background: #f0f0f0;
}
.mod-wrapper-right-body-wrapper .chat-wrap .chat {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  word-wrap: break-word;
  letter-spacing: 0.3px;
}
.mod-wrapper-right-body-wrapper .chat-wrap .chat .sender {
  color: #adadad;
  font-size: 14px;
  font-weight: 600;
  margin-right: 3px;
}
.chat-options-container {
  position: fixed;
  background: #fff;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
  padding: 12px 30px;
  z-index: 10000;
}
.chat-options-container p.delete-chat-btn {
  font-size: 15px;
  color: #f0542c;
  cursor: pointer;
  letter-spacing: 0.3px;
}
.chat-options-container p.delete-chat-btn:hover {
  text-decoration: underline;
}
