.mod-wrapper {
  width: 80%;
  height: 80%;
  max-width: 1200px;
  max-height: 1200px;
  margin: 40px auto;
  border-radius: 5px;
}
.mod-wrapper input.mod-settings-btn {
  width: 130px;
  height: 32px;
  border: none;
  background: #f0542c;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-left: calc(100% - 130px);
}
.live-chat-wrapper {
  background: #fff;
  width: 100%;
  height: calc(100% - 52px);
  margin-top: 20px;
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.05);
}
.mod-wrapper-right-top {
  width: 100%;
  height: 120px;
}
.mod-wrapper-right-top p {
  font-size: 30px;
  left: 8%;
  font-weight: 100;
  left: 5%;
}
.mod-wrapper-right-body {
  height: calc(100% - 240px);
  width: 100%;
}
.mod-wrapper-right-bottom {
  width: 100%;
  height: 120px;
}
.mod-wrapper-right-bottom-hr {
  width: 90%;
  height: 1px;
  background: #d4d4d4;
  position: relative;
}
.mod-wrapper-right-bottom-chatWrap {
  width: 100%;
  height: 119px;
}
.mod-wrapper-right-bottom-chatWrap-textarea {
  margin-left: 5%;
  width: 60%;
}
.mod-wrapper-right-bottom-chatWrap-textarea textarea {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 200;
  resize: none;
}
.mod-wrapper-right-bottom-chatWrap-buttons {
  display: -webkit-box;
  right: 5%;
  width: fit-content;
  height: fit-content;
}
.mod-wrapper-right-bottom-chatWrap-buttons-send {
  width: 45px;
  height: 45px;
  background: #f05027;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  background-image: url("/img/sendW.svg");
}
.mod-wrapper-right-body-wrapper {
  width: 90%;
  height: 96%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.currentStream-chatWrapper {
  width: 100%;
  height: fit-content;
}
.currentStream-chatWrapper-chatObject {
  width: 100%;
  height: fit-content;
  display: -webkit-box;
  margin-bottom: 10px;
  background: #fff;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px;
}
.currentStream-chatWrapper-chatObject:hover {
  background: #f3f3f3;
}
.currentStream-chatWrapper-chatObject p,
.currentStream-chatWrapper-chatObject h5 {
  font-weight: 200;
  font-size: 14px;
}
.currentStream-chatWrapper-chatObject p {
  font-weight: 500;
}
.currentStream-chatWrapper-chatObject h5 {
  width: 90%;
}
.currentStream-chatWrapper-chatObject-sender {
  width: 30%;
  height: 100%;
}
.currentStream-chatWrapper-chatObject-msg {
  width: 70%;
  height: fit-content;
  word-wrap: break-word;
}
