.table-flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  margin: 75px auto 0;
}
.viewers-table .title-container,
.viewer-logs-container .title-container {
  display: flex;
  align-items: center;
  justify-content: left;
}
.viewers-table .title-container .title,
.viewer-logs-container .title-container .title {
  font-size: 25px;
  color: #333;
  letter-spacing: 0.5px;
  margin-right: 20px;
}
.viewers-table .title-container .title b,
.viewer-logs-container .title-container .title b {
  font-weight: 400;
  color: #808080;
  font-size: 20px;
}
.viewers-table .title-container .download-csv-btn,
.viewer-logs-container .title-container .download-csv-btn {
  color: #f05027;
  font-size: 15px;
  letter-spacing: 0.3px;
  margin: 5px 0 0;
  width: fit-content;
  cursor: pointer;
  text-deocration: none;
}
.viewers-table .title-container .download-csv-btn:hover,
.viewer-logs-container .title-container .download-csv-btn:hover {
  text-decoration: underline !important;
}
.viewers-table {
  width: 100%;
}
.viewers-table .search-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  min-width: 500px;
  margin: 20px auto;
  align-items: flex-end;
}
.viewers-table .search-container .input-wrap {
  position: relative;
  width: calc(100% - 460px);
}
.viewers-table .search-container .input-wrap .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  background-image: url("/img/black-search-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  opacity: 0.15;
}
.viewers-table .search-container .input-wrap .search-input {
  font-size: 17px;
  border: none;
  outline: none;
  color: #333;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #e7e8ea;
  padding: 7px 7px 7px 45px;
  width: 100%;
  background: transparent;
}
.viewers-table .search-container .input-wrap .search-input::placeholder {
  color: #cdc8c8;
  font-weight: 400;
}
.viewers-table .search-container .grade-filter-container p.label {
  color: #cdc8c8;
  font-size: 14px;
  margin: 0 0 5px 5px;
  letter-spacing: 0.3px;
}
.viewers-table .search-container .grade-filter-container .grade-select {
  display: flex;
  justify-content: left;
  align-items: center;
}
.viewers-table .search-container .grade-filter-container .grade-select .grade-option {
  width: 100px;
  position: relative;
  height: 30px;
  border: 1px solid #e7e8ea;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}
.viewers-table .search-container .grade-filter-container .grade-select .grade-option:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
.viewers-table .search-container .grade-filter-container .grade-select .grade-option.active {
  background: #f05027;
  border-color: #f05027;
}
.viewers-table .search-container .grade-filter-container .grade-select .grade-option.active p {
  color: #fff;
}
.viewers-table .search-container .grade-filter-container .grade-select .grade-option.active p b {
  color: #e6e6e6;
}
.viewers-table .search-container .grade-filter-container .grade-select .grade-option p {
  color: #333;
  width: fit-content;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s;
}
.viewers-table .search-container .grade-filter-container .grade-select .grade-option p b {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}
.viewers-table .search-container .grade-filter-container .grade-select .grade-option:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.viewers-table .search-container .grade-filter-container .grade-select .grade-option:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.viewers-table .no-viewers {
  color: #b5b5b5;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin: 30px 0;
  text-align: center;
  display: none;
}
.table-container {
  width: 100%;
  min-width: 500px;
  max-width: 1200px;
  margin: 0 auto 80px;
}
.table-container .table-scroll {
  max-height: 500px;
  width: 100%;
  margin: 15px auto !important;
  overflow-y: auto;
}
.table-container .table-scroll table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}
.table-container .table-scroll table thead {
  border-color: #edeaea;
  box-sizing: border-box;
}
.table-container .table-scroll table thead tr {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
.table-container .table-scroll table thead tr th {
  text-align: left;
  padding: 13px;
  background: #f1f0f0;
  color: #333;
  z-index: 10;
  font-size: 14px;
  font-weight: 500;
  top: 0;
  position: sticky;
}
.table-container .table-scroll tbody {
  margin: 0;
}
.table-container .table-scroll tbody tr.viewer {
  width: 100%;
  vertical-align: middle;
  background: #f8f8f8;
}
.table-container .table-scroll tbody tr.viewer.search-hidden,
.table-container .table-scroll tbody tr.viewer.grade-hidden {
  display: none;
}
.table-container .table-scroll tbody tr.viewer td {
  height: 20px !important;
  padding: 30px 13px;
}
.table-container .table-scroll tbody tr.viewer td.viewer-picture-container {
  width: 60px;
}
.table-container .table-scroll tbody tr.viewer td.viewer-picture-container .viewer-picture-info {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.table-container .table-scroll tbody tr.viewer td p {
  margin: 0;
  color: #4e4e4e;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.table-container .table-scroll tbody tr.viewer td .action-btn-wrap {
  display: flex;
  justify-content: left;
  align-items: center;
}
.table-container .table-scroll tbody tr.viewer td .action-btn-wrap p {
  color: #f05027;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  letter-spacing: 0.3px;
}
.table-container .table-scroll tbody tr.viewer td .action-btn-wrap p.kick-user {
  margin-right: 30px !important;
}
.table-container .table-scroll tbody tr.viewer td .action-btn-wrap p:hover {
  text-decoration: underline;
}
.viewer-logs-container {
  max-width: 1200px;
  min-width: 500px;
  width: 100%;
  margin: 40px auto;
}
.viewer-logs-container .search-container {
  width: 100%;
  margin-top: 30px;
}
.viewer-logs-container .search-container .input-wrap {
  width: 100%;
  position: relative;
}
.viewer-logs-container .search-container .input-wrap .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  background-image: url("/img/black-search-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  opacity: 0.15;
}
.viewer-logs-container .search-container .input-wrap .search-input {
  font-size: 17px;
  border: none;
  outline: none;
  color: #333;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #e7e8ea;
  padding: 7px 7px 7px 45px;
  width: 100%;
  background: transparent;
}
.viewer-logs-container .search-container .input-wrap .search-input::placeholder {
  color: #cdc8c8;
  font-weight: 400;
}
.viewer-logs-container .logs-container {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  padding: 15px 0;
  background: #f8f8f8;
  overflow-y: auto;
}
.viewer-logs-container .logs-container p.no-logs {
  color: #b5b5b5;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin: 30px 0;
  text-align: center;
  display: none;
}
.viewer-logs-container .logs-container .log {
  width: calc(90% - 40px);
  margin: 15px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.viewer-logs-container .logs-container .log.hidden {
  display: none;
}
.viewer-logs-container .logs-container .log.join {
  background: rgba(25,201,99,0.1);
}
.viewer-logs-container .logs-container .log.join p {
  color: #17b358;
}
.viewer-logs-container .logs-container .log.leave {
  background: rgba(224,11,11,0.1);
}
.viewer-logs-container .logs-container .log.leave p {
  color: #e00b0b;
}
.viewer-logs-container .logs-container .log p {
  font-size: 15px;
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.viewer-logs-container .logs-container .log p b {
  font-size: 12px;
  margin-left: 15px;
}
