link(rel="Stylesheet" href="/css/index/chat.css")
.index-chat-wrapper
    .index-chat-wrapper-top
        p.fullVertCenter Live Chat
    .index-chat-wrapper-body
        .index-chat-wrapper-body-content-wrapper.fullXCenter
            .index-chat-wrapper-body-content-wrapper-object
                p.fullXCenter(style="position: relative") No More Chats!
            .index-chat-wrapper-body-content-wrapper-object.revieve
                .index-chat-wrapper-body-content-wrapper-object-wrapper
                    h3 Community Bot
                    .index-chat-wrapper-body-content-wrapper-object-chatmodal
                      p.comButs 
        

    .index-chat-wrapper-bottom
        .index-chat-wrapper-bottom-textWrap.fullCenter
            textarea(placeholder="Send a message..." maxlength="120")
            .index-chat-wrapper-bottom-textWrap-submit.reg-image

script(src="/js/index/chat.js")