.index-wrapper-center.fullCenter
    .index-wrapper-center-stream-wrapper
        .slate.reg-image
        video(id="my-video" muted="muted" class="video-js" controls preload="auto" width="1920" height="1080" poster="/img/download.jpeg" data-setup="{}")
            source(src="https://stream.designtechhs.com/hls/livestream.m3u8" type="application/x-mpegURL")
        .index-wrapper-center-stream-wrapper-dataTrails
            .index-wrapper-center-stream-wrapper-dataTrails-left
                .index-wrapper-center-stream-wrapper-dataTrails-left-data.fullVertCenter
                    h3.streamTitle Stream Title
                    p.streamRunner Stream Runner
            .index-wrapper-center-stream-wrapper-dataTrails-right
                .index-wrapper-center-stream-wrapper-dataTrails-right-data.fullCenter
                    p View Count

    .index-wrapper-center-chat-wrapper
        include ./chat