body
    background #eeeeee
    overflow-y hidden
    overflow-x hidden !important

.nav-container
    width 100%
    height 75px
    background white
    box-shadow 0 0 10px 0 rgba(0,0,0,0.06)
    .nav-content
        width calc(100% - 60px)
        margin 0 auto
        display flex 
        height 100%
        justify-content space-between
        flex-flow wrap row
        align-items center
        .logo-wrap
            display flex
            justify-content left
            align-items center
            .logo
                background-image url("/img/dtech-logo.png")
                background-size cover
                background-position center
                background-repeat no-repeat
                width 37px
                height 37px
                margin-right 10px
            .title
                color #333
                font-size 22px
                letter-spacing .3px
                margin 0
        .logout-btn
            background #f05027
            padding 8px 30px
            color white
            letter-spacing .3px
            font-size 14px
            cursor pointer
            border none
            outline none
            border-radius .3em
            transition background .3s
            &:hover
                background #e0441d

.page-content
    width calc(100% - 60px)
    max-width 1600px
    height calc(100% - 105px)
    margin 30px auto 0
    display flex
    justify-content left
    position relative
    overflow-y hidden
    overflow-x hidden
    .stream-container
        margin-right 30px
        overflow-y auto
        width calc(100% - 430px)
        max-width 1040px
        display flex
        flex-flow column nowrap
        .stream-video
            position relative
            width fit-content
            height fit-content
            img
                width 100%
            .slate,
            #my-video
                width 100%
                height 100%
                position absolute
                top 0
                left 0
        .stream-info-container
            width 100%
            background white
            box-shadow 0 0 10px 0 rgba(0,0,0,0.06)
            margin 30px 0
            height fit-content 
            .stream-info-content
                width 95%
                margin 0 auto
                padding 45px 0
                height fit-content
                position relative
                .stream-title
                    color #333
                    font-size 30px
                    letter-spacing .5px
                    line-height 110%
                    font-weight 700
                .stream-runner
                    font-size 18px
                    color #727272
                    font-weight 500
                    letter-spacing .3px
                .report-error
                    display flex
                    justify-content left
                    align-items center
                    margin-top 20px
                    cursor pointer
                    width fit-content
                    &:hover
                        p
                            text-decoration underline
                    .icon
                        background-image url("/img/alert.svg")
                        background-size 15px
                        background-position center
                        background-repeat no-repeat
                        width 25px
                        background-color #db1212
                        height 25px
                        border-radius 50%
                        margin-right 10px
                    p
                        color #db1212
                        font-size 15px
                        font-weight 500
                        margin 0
                        width fit-content
                        letter-spacing .3px
                .viewer-count-container
                    position absolute
                    top 15px
                    right -5px
                    display flex
                    justify-content left
                    align-items center
                    width fit-content
                    height fit-content
                    .icon
                        background-image url("/img/viewer-icon.svg")
                        background-size cover
                        background-position center
                        background-repeat no-repeat
                        width 18px
                        height 22px
                        margin-right 5px
                    p
                        color #f05027
                        font-size 14px
                        letter-spacing .3px
                        margin -2px 0 0
    .chat-widget
        width 400px
        height calc(100% - 130px)
        max-height 824px
        background white
        box-shadow 0 0 10px 0 rgba(0,0,0,0.06)
        position relative
        &.disabled
            .input-container
                display none
            .enable-autoscroll
                bottom 20px
            .live-chat-container
                height calc(100% - 61px)
        .title-container
            height 60px
            border-bottom 1px solid #ededed
            width calc(100% - 30px)
            padding 0 15px
            position relative
            display flex
            justify-content space-between
            align-items center
            .title
                color grey
                font-size 20px
                font-weight 500
                letter-spacing .3px
            .chat-status
                text-transform uppercase
                font-size 14px
                font-weight 800
                letter-spacing .3px
                margin-top 3px
        .enable-autoscroll
            background rgba(0,0,0,0.8)
            color white
            border none
            outline none
            font-size 14px
            position absolute
            padding 8px 20px
            bottom 65px
            left 50%
            transform translateX(-50%)
            cursor pointer
            letter-spacing .3px
            z-index 100
            border-radius .3em
            visibility hidden
            opacity 0
            transition opacity .3s, visibility .3s
            &.active
                opacity 1
                visibility visible
        .live-chat-container
            height calc(100% - 112px)
            max-height 100%
            width 100%
            overflow-y auto
            .chat-content
                width 95%
                margin 0 auto
                padding 10px 0
                height calc(100% - 20px)
                .no-chats
                    color #b8b8b8
                    font-weight 500
                    font-size 16px
                    text-align center
                    margin 20px 0 0
                    display none
                .chat
                    color #333
                    font-size 15px
                    font-weight 500
                    word-wrap break-word;
                    letter-spacing .3px
                    margin-bottom 25px
                    &.muted
                        color red
                        text-align center
                    &.cooldown
                        color grey
                        font-size 14px
                        font-weight 400
                    &:last-child
                        margin-bottom 0
                        padding-bottom 25px
                    .sender
                        color #adadad
                        font-size 14px
                        font-weight 600
                        margin-right 3px
                    a
                        color #f05027
                        text-decoration none
                        &:hover
                            text-decoration underline !important
        .input-container
            width 100%
            height 50px
            display flex
            justify-content left
            align-items center
            border-top 1px solid #ededed
            .chat-input
                height calc(100% - 15px)
                background white
                border none
                resize none
                outline none
                width calc(100% - 40px)
                font-size 15px
                color #333
                padding 0 10px 5px 20px
                letter-spacing .3px
                font-weight 500
                margin-top 15px
                &::placeholder
                    color lightgrey
                    font-weight 400
            .submit-chat-btn
                width 50px
                height 100%
                position relative
                //background linear-gradient(rgba(247,149,101,1) 0%, #F04F27 100%);
                .icon
                    background-image url("/img/send.svg")
                    background-position center
                    background-size cover
                    background-repeat no-repeat
                    width 20px
                    height 20px
                    position absolute
                    cursor pointer
                    top 50%
                    opacity 0.6
                    left 6px
                    transform translateY(-50%)
                    transition opacity .3s
                    &:hover
                        opacity .9

// Report Error

.REPOP-wrapper
    position fixed !important 
    width fit-content
    height fit-content
    display none
    z-index 100

.REPOP-wrapper-modal
    width 400px
    height fit-content
    padding-bottom 40px
    background white

.REPOP-wrapper-modal-top
    width 100%
    height 150px
    background-color #db1212
    background-image url('/img/errorX.svg')
    background-size 90px !important

.REPOP-wrapper-modal-body
    width 100%
    height calc(100% - 150px)
    p
        text-align: center;
        width: 100%;
        margin-top: 30px;
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 1px;
    h2
        text-align: center;
        width: 100%;
        margin-top: 5px;
        font-size: 15px;
        font-weight: 200;
        letter-spacing: -0.2px;

.REPOP-wrapper-modal-body-selectors
    width 80%
    height fit-content
    margin 40px auto 0
    input[type="radio"] 
        margin-bottom 10px
        margin-right 20px
    .submit-wrap
        display flex
        align-items center
        p.cancel-btn
            font-size 15px
            color grey
            width fit-content !important
            margin 0 !important
            letter-spacing .3px !important
            font-weight 400
            text-align left
            cursor pointer
            transition color .3s
            &:hover
                color black
        input[type="submit"]
            width: 140px;
            height: 32px;
            background: red;
            border-radius .3em
            color: white;
            font-weight: 300;
            font-size: 14px;
            margin-right 15px
            outline: none;
            border: none;
            cursor: pointer;
            transition background .3s
            &:hover
                background #db1212


.REPOP-darken
    width 100%
    height 100vh
    position fixed
    display none
    top 0px
    background black 
    opacity .5
    z-index 9


// VideoJS

.video-js .vjs-picture-in-picture-control
    display none !important

button , video, div
    outline none !important

.vjs-big-play-button
    top 50% !important 
    left 50% !important 
    transform translate(-50%, -50%)

.slate
    width 100%
    height 100%
    background-image url('/img/2880px-SMPTE_Color_Bars_16x9.svg.png')
    z-index 9 
    display none
    position absolute

@media only screen and (max-width: 1200px)
    .stream-container
        width calc(100% - 380px) !important
    .chat-widget
        width 350px !important

@media only screen and (max-width: 1000px)
    body
        overflow-y auto
    .page-content
        height fit-content
        width calc(100% - 20px) !important
        justify-content center !important
        flex-flow column wrap !important
        .stream-container
            height fit-content !important
            width 100% !important
            flex-flow column-reverse wrap !important
            overflow none !important
            .stream-video
                margin-top 30px !important
            .stream-info-container
                margin 0 !important
                .stream-title
                    font-size 25px !important
                .stream-runner
                    font-size 16px !important
        .chat-widget
            height 500px !important
            margin-top 30px !important
            width 100% !important
            margin-bottom 150px !important

@media only screen and (max-width: 600px)
    .stream-container
        .stream-info-container
            .stream-info-content
                padding-top 50px !important
                text-align center
                .viewer-count-container
                    left 50%
                    transform translateX(-50%)
                    right none !important
                .stream-title
                    font-size 22px !important
                .stream-runner
                    margin-top 5px !important
                    font-size 15px !important
                .report-error
                    margin 20px auto 0
                    .icon
                        width 23px !important
                        height 23px !important
                        background-size 13px !important
                    p
                        font-size 14px !important

@media only screen and (max-width: 450px)
    .REPOP-darken
        display none !important
    .REPOP-wrapper
        width 100% !important
        height 100% !important
    .REPOP-wrapper-modal
        width 100% !important
        height 100% !important

@media only screen and (max-width: 360px)
    .nav-container
        height 100px
        .nav-content
            justify-content center
            flex-flow nowrap column
            .logout-btn
                margin-top 10px !important

