html
    head
        include ./main
        link(rel="stylesheet" href="/css/banned.css")
        script.
            var userRaw = "#{user}"
            window.user = JSON.parse(userRaw.replace(/&quot;/g,'"'));
    body
        .bg
        .logo-container
        .content-container
            h1.title You Are Banned
            p.subtitle Email Henry Lonneman if you have any questions about why you were banned.
        
        script(src="/js/banned.js")