html
    head
        include ./main
        link(rel="stylesheet" href="/css/countdown.css")
    body
        .bg
        .logo-container
        .countdown-container
            h1.title The Community Next Meeting Will Start In
            .timer
                .weeks-container.time-container
                    h1 1
                    p Weeks
                .days-container.time-container
                    h1 2
                    p Days
                .hours-container.time-container
                    h1 2
                    p Hours
                .minutes-container.time-container
                    h1 20
                    p Minutes
                .seconds-container.time-container
                    h1 5
                    p Seconds
        script(src="/js/countdown.js")