html
  head
    include ./main
    link(rel="Stylesheet" href="/css/index.css")
    link(href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet")
    script.
      const name = "#{displayName}"
      if(name.length > 0) {
        console.log(name)
      }

  body
    
    input.loginbutton(type="button" value="Login" onClick="window.location.href='/auth/google'")

    .slate.fullCenter.reg-image
    video.fullCenter(id="my-video" muted="muted" class="video-js" controls preload="auto" width="1920" height="1080" poster="/img/download.jpeg" data-setup="{}")
      source(src="https://stream.designtechhs.com/hls/livestream.m3u8" type="application/x-mpegURL")

    p.fullXCenter By Aiden Appleby and Jackson Lawrence
script(src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.8.0/video.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.15.0/videojs-contrib-hls.min.js")
script(src="/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.min.js")
script(src="/videojs-hls-quality-selector/dist/videojs-hls-quality-selector.min.js")
script.

  var rawTokens = "#{tokenArr}"
  var tokens = JSON.parse(rawTokens.replace(/&quot;/g,'"'));

  var siteControlsRaw = "#{controlArr}"
  var siteControls = JSON.parse(siteControlsRaw.replace(/&quot;/g,'"'));

  setTimeout(function(){
    var player = videojs('#my-video');
    var videoPlay = player.play();
    if(videoPlay !== undefined) {
      videoPlay.then(_ => {
        player.play();
        //- player.muted(false);
      }).catch(error => {
        player.play();
        player.muted(false);
      })
    }
  }, 1000)

  socket.on('reloadStreamClients', function(data) {
    location.reload();
  })

  socket.on('slateControl', function(data) {
    log(data)
    if(data[1].state) {
      $('.slate').show()
      if(data[1].selection == "Bars and Tones") {
        $('.slate').css('background-image', 'url("/img/2880px-SMPTE_Color_Bars_16x9.svg.png")')
      }
      if(data[1].selection == "Splash") {
        $('.slate').css('background-image', 'url("/img/download.jpeg")')
      }
      if(data[1].selection == "Maintainance") {
        $('.slate').css('background-image', 'url("/img/dtech-logo.png")')
      }
    } else {
      $('.slate').hide()
      if(data[1].selection == "Bars and Tones") {
        $('.slate').css('background-image', 'url("/img/2880px-SMPTE_Color_Bars_16x9.svg.png")')
      }
      if(data[1].selection == "Splash") {
        $('.slate').css('background-image', 'url("/img/download.jpeg")')
      }
      if(data[1].selection == "Maintainance") {
        $('.slate').css('background-image', 'url("/img/dtech-logo.png")')
      }
    }
  })

  for(var i = 0; i < siteControls.length; i++) {
    if(siteControls[i].identifier == "slate") {
      let slateType = siteControls[i].slateType
      if(slateType == 1) {
        $('.slate').css('background-image', 'url("/img/2880px-SMPTE_Color_Bars_16x9.svg.png")')
      }
      if(slateType == 2) {
        $('.slate').css('background-image', 'url("/img/download.jpeg")')
      }
      if(slateType == 3) {
        $('.slate').css('background-image', 'url("/img/dtech-logo.png")')
      }
    }
  }

  setTimeout(function(){
    for(var i = 0; i < siteControls.length; i++) {
      if(siteControls[i].identifier == "slate") {
        if(siteControls[i].state) {
          $('.slate').show()
        } else {
          $('.slate').hide()
        }
      }
    }
  },600)

  setTimeout(function(){
    if($('.vjs-modal-dialog-content').text() == "The media could not be loaded, either because the server or network failed or because the format is not supported.TextColorWhiteBlackRedGreenBlueYellowMagentaCyanTransparencyOpaqueSemi-TransparentBackgroundColorBlackWhiteRedGreenBlueYellowMagentaCyanTransparencyOpaqueSemi-TransparentTransparentWindowColorBlackWhiteRedGreenBlueYellowMagentaCyanTransparencyTransparentSemi-TransparentOpaqueFont Size50%75%100%125%150%175%200%300%400%Text Edge StyleNoneRaisedDepressedUniformDropshadowFont FamilyProportional Sans-SerifMonospace Sans-SerifProportional SerifMonospace SerifCasualScriptSmall CapsReset restore all settings to the default valuesDone") {
      $('.slate').show()
    } else {
      $('.slate').hide()
    }
  },500)
