head
	title= title
	link(rel="stylesheet", href="/css/main.css")
	link(rel='apple-touch-icon' sizes='180x180' href='/img/favicons/apple-touch-icon.png')
	link(rel='icon' type='image/png' sizes='32x32' href='/img/favicons/favicon-32x32.png')
	link(rel='icon' type='image/png' sizes='16x16' href='/img/favicons/favicon-16x16.png')
	link(rel='manifest' href='/img/favicons/site.webmanifest')
	link(rel='mask-icon' href='/img/favicons/safari-pinned-tab.svg' color='#5bbad5')
	link(rel='shortcut icon' href='/img/favicons/favicon.ico')
	meta(name='msapplication-TileColor' content='#f04f22')
	meta(name='msapplication-config' content='/img/favicons/browserconfig.xml')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name='theme-color' content='#f04f22')

bodyd

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")
script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.min.js")
script.

	var socket = io();

	function underdev() {
		window.alert('This page is currently being developed by our team, please mind that it is not complete.')
	}
	
	function log(call) {
		console.log(call)
	}

	function cap(s) {
		if (typeof s !== 'string') return ''
		return s.charAt(0).toUpperCase() + s.slice(1)
	}

	socket.on('reloadSiteClients', function(data) {
		location.reload();
	})

	function makeid(length) {
		var result           = '';
		var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
		var charactersLength = characters.length;
		for ( var i = 0; i < length; i++ ) {
			result += characters.charAt(Math.floor(Math.random() * charactersLength));
		}
		return result;
	}