html
	head
		<script data-ad-client="ca-pub-4786181907722527" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		include ./main
		link(rel="stylesheet" href="/css/name.css")
		script.
			window.displayName = "#{displayName}"

	body
		.content
			.logo-container
			#main
				h1.title Please login with your school account
				.google-auth-container
					.google-auth-container-btn-wrapper.fullXCenter(onclick="window.location.href='/auth/google'")
						.google-auth-container-btn-wrapper-iconWrappe.reg-image
						p.fullVertCenter Sign in with Google