html
    head
        include ./main
        link(rel="stylesheet" href="/css/banned.css")

    body
        .bg
        .logo-container
        .content-container
            h1.title Logged in on a Different Page
            p.subtitle A new stream window was opened on your account.
        
        script(src="/js/banned.js")