html
  head
    include ./main
    link(rel="Stylesheet" href="/css/index/new-index.css")
  body
    .nav-container
        .nav-content
            .logo-wrap
                .logo
                h1.title Community Broadcast

            button.logout-btn Logout
    .page-content
      .stream-container
        .stream-video
          img(src="/img/countdown-bg.png")
          //- video(id="my-video" muted="muted" class="video-js" controls preload="auto" width="1920" height="1080" poster="/img/download.jpeg" data-setup="{}")
          //-   source(src="https://stream.designtechhs.com/hls/livestream.m3u8" type="application/x-mpegURL")
        .stream-info-container
          .stream-info-content
            h1.stream-title Community Meeeting Test Broadcast
            p.stream-runner Welcome, this is a only a test broadcast
            .viewer-count-container
              .icon
              p 2 Viewers
      .chat-widget
        .title-container
          h1.title Live Chat
        .live-chat-container
          .chat-content
            p.chat <b class="sender">Student - Jackson Lawrence</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .input-container
          textarea.chat-input(data-gramm_editor="false" placeholder="Send a message...")
          .submit-chat-btn
            .icon
    script.
      console.log("init")