html
  head
    include ./main
    link(rel="Stylesheet" href="/css/notifications.css")
  body

    .notif-wrapper
        .notif-wrapper-object
            .notif-wrapper-object-icon.reg-image
            .notif-wrapper-object-txt
                p.fullVertCenter This is demo text for a notification


script(src="/js/index/index.js")