html
	head
		include ../main
		link(rel="stylesheet" href="/css/admin/main.css")

	body 
		.nav-container
			.nav-content
				.logo-container
					.logo
					h1.logo-title Community Meeting
				.nav-links
					a.nav-link.current-streams-link(href="/admin/current-stream") Current Stream
					a.nav-link.upcoming-streams-link(href="/admin/upcoming-streams") Upcoming Streams
					a.nav-link.viewers-link(href="/admin/viewers") Viewers
		.admin-home-wrapper
			.admin-home-content
				h1.page-title=title
				case title
					when 'Current Stream'
						link(rel='stylesheet', href="/css/admin/current-stream.css")
						include pages/currentStream
						script(src="/js/admin/current-stream.js")
					when 'Upcoming Streams'
						link(rel='stylesheet', href="/css/admin/upcoming-streams.css")
						include pages/upcomingStreams
						script(src="/js/admin/upcoming-streams.js")
					when 'Viewers'
						link(rel='stylesheet', href="/css/admin/viewers.css")
						include pages/viewers
						script(src="/js/admin/viewers.js")


script(src="/js/admin/main.js")

