script.
	let allParticipantsRaw = "#{allParticipants}"
	if(allParticipantsRaw) {
		window.allParticipants  = JSON.parse(allParticipantsRaw.replace(/&quot;/g,'"'));
	}
	let streamRaw = "#{stream}"
	if(streamRaw) {
		window.stream = JSON.parse(streamRaw.replace(/&quot;/g,'"'));
	}

.chat-options-container
	p.delete-chat-btn Delete
.mod-wrapper
	input.mod-settings-btn(type="button" value="Chat Settings")
	.live-chat-wrapper
		.mod-wrapper-right-top
			p.fullVertCenter Live Chat
		.mod-wrapper-right-body
			button.enable-autoscroll Enable Autoscroll
			.mod-wrapper-right-body-wrapper.fullXCenter
		.mod-wrapper-right-bottom
			.mod-wrapper-right-bottom-hr.fullXCenter
			.mod-wrapper-right-bottom-chatWrap
				.mod-wrapper-right-bottom-chatWrap-textarea.fullVertCenter
					textarea(placeholder="Type a message" data-gramm_editor="false")
				.mod-wrapper-right-bottom-chatWrap-buttons.fullVertCenter
					.mod-wrapper-right-bottom-chatWrap-buttons-code
					.mod-wrapper-right-bottom-chatWrap-buttons-send