script.
    var rawUsers = "#{userArr}"
    window.users = JSON.parse(rawUsers.replace(/&quot;/g,'"'));

    var rawuser = "#{user}"
    window.user = JSON.parse(rawuser.replace(/&quot;/g,'"'));

    var siteControlsRaw = "#{controlArr}"
    window.siteControls = JSON.parse(siteControlsRaw.replace(/&quot;/g,'"'));

.stream-inactive-container.active
    h1.container-title The Community Meeting Stream is Currently <b class="inactive">Inactive</b>
    p.info If you would like to see the upcoming community meetings <a href="/admin/upcoming-streams">click here</a>

br
br
input(type="button" value="Reload All Stream Clients" onclick="reloadStreamClients()")
input(type="button" value="Reload All Site Clients" onclick="reloadSiteClients()")
.admin-home-wrapper-send-message
    input(type="text" placeholder="Message to send") 
    input(type="button" value="Send Alert" onclick="sendAlert()")
select.slateSelectionDrop
    option Bars and Tones
    option Splash
    option Maintainance
input(type="button" value="Turn Slate On" onclick="slateState(true)")
input(type="button" value="Turn Slate Off" onclick="slateState(false)")

h3.clientsConnected Pending

<div class="chart-container" style="position: relative; height:fit-content; width:500px">
    <canvas id="usersConnected"></canvas>
</div>