.stream-inactive-container.active
    h1.container-title The Community Meeting Stream is Currently <b class="inactive">Inactive</b>
    p.info If you would like to see the upcoming community meetings <a href="/admin/upcoming-streams">click here</a>