script.
	let allParticipantsRaw = "#{allParticipants}"
	if(allParticipantsRaw) {
		window.allParticipants  = JSON.parse(allParticipantsRaw.replace(/&quot;/g,'"'));
	}

	let participantLogsRaw = "#{participantLogs}"
	if(participantLogsRaw) {
		window.participantLogs  = JSON.parse(participantLogsRaw.replace(/&quot;/g,'"'));
	}

.table-flex-container
	.viewers-table.table-container
		h1.table-title Active Viewers
		.search-container
			.input-wrap
				.search-icon
				input(type="text" placeholder="Search by name or email" class="search-input")
			.grade-filter-container
				p.label Sort By Grade:
				.grade-select
					.grade-option.active(data-grade="all")
						p All <b>(0)</b>
					.grade-option(data-grade="9")
						p 9th <b>(0)</b>
					.grade-option(data-grade="10")
						p 10th <b>(0)</b>
					.grade-option(data-grade="11")
						p 11th <b>(0)</b>
					.grade-option(data-grade="12")
						p 12th <b>(0)</b>
					.grade-option(data-grade="none")
						p None <b>(0)</b>
		table
			thead
				tr
					th.viewer-picture-head
					th.viewer-name-head Name
					th.viewer-name-head Email
					th.viewer-name-head Grade
					th.actions-head Actions
			tbody
		a.no-viewers No viewers

.viewer-logs-container
	.logs-title-container
		h1.title Viewer Logs
		a.download-csv-btn Download Logs as CSV
	.search-container
		.input-wrap
			.search-icon
			input(type="text" placeholder="Search by name or email" class="search-input")
	.logs-container
		p.no-logs No Viewer Logs