script.
	let allParticipantsRaw = "#{allParticipants}"
	if(allParticipantsRaw) {
		window.allParticipants  = JSON.parse(allParticipantsRaw.replace(/&quot;/g,'"'));
	}

	let bannedUsersRaw = "#{bannedUsers}"
	if(allParticipantsRaw) {
		window.bannedUsers  = JSON.parse(bannedUsersRaw.replace(/&quot;/g,'"'));
	}

.table-flex-container
	.viewers-table.table-container
		h1.table-title Active Viewers
		.search-container
			.input-wrap
				.search-icon
				input(type="text" placeholder="Search by name or email" class="search-input")
			.grade-filter-container
				p.label Sort By Grade:
				.grade-select
					.grade-option.active(data-grade="all")
						p All
					.grade-option(data-grade="9")
						p 9th
					.grade-option(data-grade="10")
						p 10th
					.grade-option(data-grade="11")
						p 11th
					.grade-option(data-grade="12")
						p 12th
					.grade-option(data-grade="none")
						p None
		table
			thead
				tr
					th.viewer-picture-head
					th.viewer-name-head Name
					th.viewer-name-head Email
					th.viewer-name-head Grade
					th.actions-head Actions
			tbody
		p.no-viewers No viewers