
.table-flex-container
	.viewers-table.table-container
		h1.table-title Active Viewers
		table
			thead
				tr
					th.viewer-id-head User ID
					th.viewer-name-head User Name
					th.actions-head Actions
			tbody
				tr.viewer
					td
						p.viewer-id-info 1
					td
						p.viewer-name-info Aiden Appleby
					td
						.action-btn-wrap
							p.kick-user Kick User
							p.ban-user Ban User
				tr.viewer
					td
						p.viewer-id-info 2
					td
						p.viewer-name-info Test Account
					td
						.action-btn-wrap
							p.kick-user Kick User
							p.ban-user Ban User
				tr.viewer
					td
						p.viewer-id-info 4
					td
						p.viewer-name-info Test Account
					td
						.action-btn-wrap
							p.kick-user Kick User
							p.ban-user Ban User
				tr.viewer
					td
						p.viewer-id-info 5
					td
						p.viewer-name-info Test Account
					td
						.action-btn-wrap
							p.kick-user Kick User
							p.ban-user Ban User
				tr.viewer
					td
						p.viewer-id-info 6
					td
						p.viewer-name-info Jackson Lawrence
					td
						.action-btn-wrap
							p.kick-user Kick User
							p.ban-user Ban User
	.banned-viewers-table.table-container
		h1.table-title Banned Viewers
		table
			thead
				tr
					th.stream-id-head User ID
					th.stream-name-head Viewer Name
					th.viewer-ip-head IP Address
					th.actions-head Actions
			tbody
				tr.viewer
					td
						p.viewer-id-info 3
					td
						p.viewer-name-info Test Account
					td
						p.viewer-name-info 249.7.216.151
					td
						.action-btn-wrap
							p.unban-user Unban User